 input[type="submit"], input[type="button"] {
	 border:none !important;
	 padding-left:10px!important;
	 padding-right:10px!important;
 }
 
#slider {
	position:relative;
/*	z-index:-1;	*/
z-index:9
}

h1, h2, h3, h4, h5 {
	line-height:normal;	
}
.grid3 ul li  a{ text-indent:8px; display:inline-block}
.message-box-middle{ clear:left}
.searchbar_middle input[type="text"]{ line-height:48px;}
.searchjob-bar input[type="text"]{ position:relative; top:-9px}